/*! editor styles */

/*--------------------------------------------------------------
# Abstracts
--------------------------------------------------------------*/
@media (max-width: 781px) {

	.hidden-mobile {
		display: none !important;
	}
}

@media (min-width: 782px) and (max-width: 991px) {

	.hidden-tablet {
		display: none !important;
	}
}

@media (min-width: 992px) and (max-width: 1439px) {

	.hidden-laptop {
		display: none !important;
	}
}

@media (min-width: 1440px) {

	.hidden-desktop {
		display: none !important;
	}
}

.grid-columns-1 {
	display: grid;
	gap: var(--wp--custom--layout--block-gap);
	grid-template-columns: repeat(1, 1fr);
}

@media (max-width: 781px) {

	.grid-columns-1 {
		grid-template-columns: 1fr;
	}
}

.grid-columns-2 {
	display: grid;
	gap: var(--wp--custom--layout--block-gap);
	grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 781px) {

	.grid-columns-2 {
		grid-template-columns: 1fr;
	}
}

.grid-columns-3 {
	display: grid;
	gap: var(--wp--custom--layout--block-gap);
	grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 781px) {

	.grid-columns-3 {
		grid-template-columns: 1fr;
	}
}

.grid-columns-4 {
	display: grid;
	gap: var(--wp--custom--layout--block-gap);
	grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 781px) {

	.grid-columns-4 {
		grid-template-columns: 1fr;
	}
}

.grid-columns-5 {
	display: grid;
	gap: var(--wp--custom--layout--block-gap);
	grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 781px) {

	.grid-columns-5 {
		grid-template-columns: 1fr;
	}
}

.grid-columns-6 {
	display: grid;
	gap: var(--wp--custom--layout--block-gap);
	grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 781px) {

	.grid-columns-6 {
		grid-template-columns: 1fr;
	}
}

.grid-columns-7 {
	display: grid;
	gap: var(--wp--custom--layout--block-gap);
	grid-template-columns: repeat(7, 1fr);
}

@media (max-width: 781px) {

	.grid-columns-7 {
		grid-template-columns: 1fr;
	}
}

.grid-columns-8 {
	display: grid;
	gap: var(--wp--custom--layout--block-gap);
	grid-template-columns: repeat(8, 1fr);
}

@media (max-width: 781px) {

	.grid-columns-8 {
		grid-template-columns: 1fr;
	}
}

.grid-columns-9 {
	display: grid;
	gap: var(--wp--custom--layout--block-gap);
	grid-template-columns: repeat(9, 1fr);
}

@media (max-width: 781px) {

	.grid-columns-9 {
		grid-template-columns: 1fr;
	}
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
.wp-block-post-title a {
	text-decoration: none;
}

.has-heading-1-font-size,
.has-heading-2-font-size,
.has-heading-3-font-size,
.has-heading-4-font-size {
	line-height: var(--wp--custom--line-height--headings);
}

ol.has-background,
ul.has-background {
	padding: 0;
}

ul.is-style-separator-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.is-style-separator-list li {
	border-bottom: 1px dashed var(wp--custom--color--neutral-40);
	padding: var(--space-1) 0;
	display: flex;
	justify-content: space-between;
}

ul.is-style-separator-list li a {
	text-decoration: none;
	width: 100%;
	display: flex;
	justify-content: space-between;
	transition: translate 0.2s ease-in;
	color: inherit;
}

ul.is-style-separator-list li a:hover {
	translate: var(--space-05);
	cursor: pointer;
}

ul.is-style-separator-list--icon {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.is-style-separator-list--icon li {
	border-bottom: 1px solid var(--wp--custom--color--neutral-30);
	padding: var(--space-1) 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

ul.is-style-separator-list--icon li a {
	text-decoration: none;
	width: 100%;
	display: flex;
	position: relative;
	transition: translate 0.2s ease-in;
	color: inherit;
}

ul.is-style-separator-list--icon li a:hover {
	translate: var(--space-05);
	cursor: pointer;
}

ul.is-style-separator-list--icon li a:hover::after {
	right: 0;
}

ul.is-style-separator-list--icon li a::after {
	content: url(./assets/icons/arrow-right-secondary.svg);
	right: 0.5rem;
	position: absolute;
	transition: 0.2s ease-in;
}

.components-resizable-box__container.block-library-spacer__resize-container {
	background-color: var(--wp--preset--color--primary-30);
}

.components-resizable-box__container.block-library-spacer__resize-container::before {
	content: attr(data-spaceheight);
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
}

@media (min-width: 992px) {

	body {
		--wp--style--root--padding-right: 4rem;
		--wp--style--root--padding-left: 4rem;
	}
}

.wp-site-blocks .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide):not(.has-global-padding) {
	max-width: calc(var(--wp--style--global--content-size) + calc(var(--wp--style--root--padding-right) * 2));
	padding-right: var(--wp--style--root--padding-right);
	padding-left: var(--wp--style--root--padding-left);
}

.wp-block-group.has-background.has-global-padding {
	padding-top: var(--wp--style--root--padding-right);
	padding-bottom: var(--wp--style--root--padding-left);
}

body .is-layout-flow > .wp-block-image.alignright {
	margin-inline-start: 0;
}

body .is-layout-flow > .wp-block-image.alignleft {
	margin-inline-end: 0;
}

.mt-0 {
	margin-block-start: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: 2px solid;
	color: inherit;
	background-color: transparent;
	line-height: 1;
	padding: 12px var(--wp--preset--spacing--10);
	width: 100%;
	max-height: 3rem;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="url"]::placeholder,
input[type="password"]::placeholder,
input[type="search"]::placeholder,
input[type="number"]::placeholder,
input[type="tel"]::placeholder,
input[type="range"]::placeholder,
input[type="date"]::placeholder,
input[type="month"]::placeholder,
input[type="week"]::placeholder,
input[type="time"]::placeholder,
input[type="datetime"]::placeholder,
input[type="datetime-local"]::placeholder,
input[type="color"]::placeholder,
textarea::placeholder {
	color: inherit;
	opacity: 1;

	/* Firefox */
	font-style: italic;
}

input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
input[type="url"]::-ms-input-placeholder,
input[type="password"]::-ms-input-placeholder,
input[type="search"]::-ms-input-placeholder,
input[type="number"]::-ms-input-placeholder,
input[type="tel"]::-ms-input-placeholder,
input[type="range"]::-ms-input-placeholder,
input[type="date"]::-ms-input-placeholder,
input[type="month"]::-ms-input-placeholder,
input[type="week"]::-ms-input-placeholder,
input[type="time"]::-ms-input-placeholder,
input[type="datetime"]::-ms-input-placeholder,
input[type="datetime-local"]::-ms-input-placeholder,
input[type="color"]::-ms-input-placeholder,
textarea::-ms-input-placeholder {

	/* Edge 12 -18 */
	color: inherit;
}

select {
	border: 1px solid var(--wp--custom--color--neutral-30);
	padding: 8.5px var(--wp--preset--spacing--10);
}

select.facetwp-dropdown {
	background-image: url(./assets/icons/folder-minus.svg);
	background-repeat: no-repeat;
	background-size: 1.5rem auto;
	background-position: 0.5rem center;
	padding: 7.5px 1rem 7.5px 2.5rem;
}

textarea {
	width: 100%;
}

.wpcf7-acceptance .wpcf7-list-item {
	margin: 0;
}

.footer-form .wpcf7-list-item {
	margin: 0;
	width: 100%;
}

.footer-form .wpcf7-form-control {
	display: flex;
	gap: var(--wp--custom--layout--block-gap);
	margin: 1rem 0;
}

.footer-form input[type="radio"] {
	display: none;
}

.footer-form input[type="radio"] + .wpcf7-list-item-label {
	padding: 1rem;
	margin-bottom: 0;
	border: 2px solid;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-form input[type="radio"] + .wpcf7-list-item-label:hover {
	cursor: pointer;
}

.footer-form input[type="radio"]:checked + .wpcf7-list-item-label {
	font-weight: 600;
}

a.stretched-link,
.stretched-link > a {
	position: initial !important;
}

a.stretched-link::after,
.stretched-link > a::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	pointer-events: auto;
	content: "";
	background-color: rgba(0, 0, 0, 0);
}

.is-style-title-has-image {
	width: 100%;
	padding-left: 1.5rem;
	position: relative;
}

.is-style-title-has-image > img:first-child {
	width: 1.5rem;
	position: absolute;
	top: 0.25rem;
	left: 0;
}

.wp-block-post-terms a {
	text-decoration: none;
}
