.is-style-title-has-image {
	width: 100%;
    padding-left: 1.5rem;
    position: relative;

    & > img:first-child {
        width: 1.5rem;
        position: absolute;
        top: .25rem;
        left: 0;
    }
}

.wp-block-post-terms a {
    text-decoration: none;
}